@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat';
}
.container{
    max-width: 1143px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    transition: .3s;
}
.header-nav a{
    color: #2B3541;
}
.header-nav a:hover{
    color: #FBF138;
}
.header-nav a::after{
    content: '';
    width: 100%;
    height: 1px;
    margin-top: 5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after {
    background: #2B3541;
}

    /* first block */

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.header li{
    list-style: none;
}
.header ul{
    margin: 0;
    padding: 0;
    margin-right: 302px;
    margin-top: 4px;
}
.links{
    display: flex;
    margin-top: -2.5px;
}
.header-nav{
    display: flex;
    gap: 54px;
}
.header-inst{
    background-image: url(../icons/IN.svg);
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    margin-right: 30px;
    transform: scale(1);
    opacity: 0.8;
}
.header-FB{
    background-image: url(../icons/FB.svg);
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    transform: scale(1);
    opacity: 0.8;
}
.fitnes{
    background-image: url(../logo.svg);
    width: 98px;
    height: 30px;
    border: none;
    background-color: transparent;
}
.header-inst:hover{
    transform: scale(1.2);
    opacity: 1;
}
.header-FB:hover{
    transform: scale(1.2);
    opacity: 1;
}

    /* second block */

.main-verh{
    display: flex;
    position: relative;
}
.main-left{
    max-width: 679px;
    max-height: 850px;
}
.main-left h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 123%;
    letter-spacing: 1.4px;
    margin-left: 2px;
    margin-top: 225px;
    text-transform: uppercase;
}
.main-left p{
    font-weight: 400;
    margin-top: 45px;
    margin-left: 2px;
    font-size: 40px;
    margin-bottom: 23px;
}
.main-left span{
    margin-right: 10px;
}
.main-left a{
    font-weight: 700;
    font-size: 16px;
    background-color: #FBF138;
    padding: 22.7px 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: black;
    text-decoration: none;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.main-left-margin{
    margin-left: 93px;
    max-width: 297px;
    line-height: 1.3;
}
.main-left-margin p{
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    margin-bottom: 58px;
    line-height: 144%;
}
.main-right{
    width: 465px;
    height: 850px;
}
.devushka{
    position: absolute;
    max-width: 983px;
    left: 331px;
    top: 37px;
}
.strelka{
    background-image: url(../icons/Arrow.svg);
    position: absolute;
    bottom: 4px;
    left: 1px;
    border:none;
    width: 52px;
    height: 55px;
    background-color:transparent;
    cursor: pointer;
}
.yelow-block{
    width: 463px;
    height: 850px;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
}
.main-left-margin a:hover{
    background-color: #2B3541;
    color: #FBF138;
}

    /* Block third */

.actions h2{
    font-weight: 700;
    font-size: 40px;
    margin-top: 159px;
    margin-bottom: 43px;
}
.actions-flex{
    display: flex;
    justify-content: space-between;
    height: 600px;
}
.action-block span{
    margin: 31px 0px 0px 31px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
}
.action-block h3{
    font-weight: 700;
    font-size: 28px;
    color: #2B3541;
    line-height: 125%;
    opacity: 1;
    margin: 19px 0 60px 30px;
    max-width: 241px;
    opacity: 0.999;
}
.action-block .sslka{
    text-decoration: none;
    padding: 13px 22.2px 13px 20px;
    font-weight: 400;
    font-size: 18px;
    background-color: yellow;
    color: #2B3541;
}
.action-block:first-child h3{
    margin: 20px 0 60px 30px;
    max-width: 241px;
}
.action-block-grad:first-child{
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    transition: 1s;
    width: 100%;
    height: 100%;
    position: absolute;
}
.action-block:first-child{
    background-image: url(../files/@2x/maraphon@2x.png);background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 2px;
}
.action-block-grad:nth-child(2){
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    transition: 1s;
    width: 100%;
    height: 100%;
    position: absolute;
}
.action-block:nth-child(2){
    background-image: url(../files/@2x/Vebinar\ 1@2x.png);background-size: cover;
    background-repeat: no-repeat;
}
.action-block-grad:nth-child(3){
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    transition: 1s;
    width: 100%;
    height: 100%;
    position: absolute;
}
.action-block:nth-child(3){
    background-image: url(../files/@2x/Vebinar\ 2@2x.png);background-size: cover;
    background-repeat: no-repeat;
}
.action-block-grad:hover{
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.9;
}
.action-block:first-child .sslka{
    padding: 15px 19.2px 13px 20px;
}
.poyavlenie{
    position: absolute;
    color: #FBF138;
    background-color: #2B3541;
    padding: 20px 49px;
    opacity: 0;
    transition: 1s;
    margin-left: 30px;
}
.action-block:first-child:hover .poyavlenie{
    opacity: 1;
}
.action-block:nth-child(2):hover .poyavlenie{
    opacity: 1;
}
.action-block:nth-child(3):hover .poyavlenie{
    opacity: 1;
}
.action-text{
    padding-bottom: 393px;
    padding-top: 31px;
    padding-right: 96px;
}
.action-block{
    position: relative;
}
.sslka{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.sslka:hover{
    background-color: #2B3541;
    color: #FBF138;
}

    /* Forth block */

.trenings-verh{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trenings-verh h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    max-width: 265px;
}
.trenings-verh p{
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    margin-bottom: 67px;
}
.trenings{
    margin-top: 127px;
}
.grid-elements{
    display: grid;
    grid-template-columns: 367px 366px 367px;
    grid-template-rows: 309px 75px 281px;
    justify-content: space-between;
    gap: 20px;
}
.first-trening{
    width: 367px;
    height: 309px;
    margin: 3px 0px 0px 1px;
    border: 1px solid ;
    border-color: #2b354133;
    position: relative;
    transition: 0s;
}
.second-trening{
    border: 1px solid #2B354133;
    width: 366px;
    margin: 3px 0px 0px -1px;
    height: 402px;
    position: relative;
    transition: 0s;
}
.third-trening{
    width: 367px;
    height: 309px;
    margin: 3px 0px 0px -2px;
    border: 1px solid #2B354133;
    position: relative;
    transition: 0s;
}
.forth-trening{
    width: 367px;
    height: 374px;
    margin: 3px 0px 0px 1px;
    border: 1px solid #2B354133;
    position: relative;
    transition: 0s;
}
.five-trening{
    width: 366px;
    height: 281px;
    margin-top: 96px;
    margin-left: -1px;
    border: 1px solid #2B354133;
    justify-items: baseline;
    position: relative;
    transition: 0s;
}
.six-trening{
    width: 367px;
    height: 374px;
    margin-top: 3px;
    margin-left: -2px;
    border: 1px solid #2B354133;
    position: relative;
    transition: 0s;
}
.grid-elements .action-block-grad{
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0;
    transition: 1s;
    width: 100%;
    height: 100%;
    position: absolute;
}
.first-trening:hover{
    border: #F3F3F3;
    padding-top: 1px;
    padding-left: 1px;
}
.second-trening:hover{
    border: none;
    padding-top: 1px;
    padding-left: 1px;
}
.third-trening:hover{
    border: none;
    padding-top: 1px;
    padding-left: 1px;
}
.forth-trening:hover{
    border: none;
    padding-top: 1px;
    padding-left: 1px;
}
.five-trening:hover{
    border: none;
    padding-top: 1px;
    padding-left: 1px;
}
.six-trening:hover{
    border: none;
    padding-top: 1px;
    padding-left: 1px;
}
.first-trening:hover .action-block-grad{
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.7;
}
.second-trening:hover .action-block-grad{
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.7;
}
.third-trening:hover .action-block-grad{
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.7;
}
.forth-trening:hover .action-block-grad{
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.7;
}
.five-trening:hover .action-block-grad{
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.7;
}
.six-trening:hover .action-block-grad{
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.7;
}
.grid-elements p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
    margin-left: 206px;
    margin-top: 21px;
}
.grid-elements h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    margin: 37px 0 0 31px;
}
.first-trening img{
    margin: 95px 0 0 30px;
}
.second-trening img{
    margin: 168px 0 0 30px;
}
.third-trening img{
    margin: 110px 0 0 30px;
}
.forth-trening img{
    margin: 118px 0 0 30px;
}
.five-trening img{
    margin: 71px 0 0 30px;
}
.six-trening img{
    margin: 159px 0 0 30px;
}

    /* five block */
    
.mail{
    margin: 160px auto 125px;
}
.mail-info{
    position: relative;
    padding: 49px 0 80px 0;
    align-items: center;
    display: flex;
    margin-left: -5px;
    flex-direction: column;
    background-color: #F3F3F3;
}
.viravnivanie{
    display: flex;
    flex-direction: column;
    margin-left: 21px;
}
.mail-info h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #2B3541;
    margin-left: 8px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}
.mail-info img{
    content: "";
    position: absolute;
    top: 4px;
    left: -52px;
    float: left;
    z-index: 1;
}
.h2-img{
    position: relative;
}
.rovn button{
    margin-left: 15px;
    border: none;
    padding: 25px 43px 21px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    transition: 0.3s;
}
.rovn button:hover{
    color: #FBF138;
    background: #2B3541;
}
.rovn input{
    padding: 19px 132px 19px 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.3;
    user-select: none;
    border: 1px solid transparent;
    margin-bottom: 11px;
}
input:focus{
    border: 1px solid #FBF138;
    outline: none;
    opacity: 1;
}
input:invalid{
    border: 1px solid #AE0303;
    outline: none;
    opacity: 1;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-left: 1px;
}
.confirm p{
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0 0 0 5px;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.5;
}
.confirm a{
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0 0 0 6px;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #2B3541;
    margin-left: 3px;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url(../icons/check\ box\ empty.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-checkbox:checked+label::before {
    background-image: url(../icons/check_box.svg);
}

    /* six block */

.about-header{
    display: flex;
    margin-bottom: 51px;
}
.about-right{
    background-image: url(../files/@2x/trainer@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 581px;
    height: 336px;
    margin: 33px 0 0 77px;
}
.about-right .action-block-grad{
    max-width: 581px;
    max-height: 336px;
}
.about-right:hover .action-block-grad{
    opacity: 0.3;
}
.about-left{
    max-width: 483px;
    max-height: 177px;
    margin-left: 2px;
}
.about-left h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    margin-bottom: 20px;
}
.about-left p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    margin-bottom: 34px;
}
.about-left button{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    background-color: #FBF138;
    border: none;
    padding: 21px 51px 20px;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.about-left button:hover{
    color: #FBF138;
    background-color: #2B3541;
}
.about-footer{
    display: flex;
    margin-left: 1px;
    gap:67px;
}
.about-footer h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    margin-bottom: 0;
}
.about-footer p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
    margin-top: 21px;
}
.ab-foot1{
    width: 231px;
}
.ab-foot2{
    width: 284px;
}
.ab-foot3{
    width: 221px;
}
.ab-foot4{
    width: 204px;
}
main{
    margin-bottom: 186px;
}
.footer{
    width: 1920px;
}
.footer-nav{
    display: flex;
    align-items: center;
    gap: 35px;
    background-image: url(../icons/Pattern.svg);
    background-position: 824px 0px;
    background-repeat: no-repeat;
    background-size: 47px;
    margin-bottom: 17px;
}
.footer-nav ul{
    display: flex;
    gap: 90.5px;
    margin-top: 19px;
    list-style: none;
}
.footer-nav a{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2B3541;
}
.footer-nav .pochta {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
    margin-left: 182px;
    margin-top: 2px;
}
.footer-nav .links{
    margin-left: 30px;
    margin-top: -1.5px;
}
.footer-nav .header-inst{
    width: 27px;
    height: 27px;
    background-size: cover;
    background-position: center;
}
.footer-nav .header-FB{
    width: 27px;
    height: 27px;
    background-size: cover;
    background-position: center;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2B3541;
    margin-left: 2px;
    margin-bottom: 19px;
}
.prava{
    opacity: 0.3;
}
.text{
    margin: 0;
}
.text span{
    opacity: 0.3;
}
.plat {
    text-decoration:underline;
    color: #2B3541;
    opacity: 0.3;
}
.plat:hover{
    color: #010101;
    opacity: 1;
}
.footer-nav ul a:hover{
    color: #FBF138;
}

    /* new */

.action-block-grad ~ .action-text:hover{
    background-image: linear-gradient(180deg, #FBF138 -50%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.9999;
    transition: 1s;
}